{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} 
{%block content %}
<!--Main layout-->
<main class="mt-5 pt-4">
  <div class="container wow fadeIn">
    <!-- Heading -->
    <h2 class="my-5 h2 text-center">Checkout form</h2>
    {% if messages %}
      <ul>
        {% for message in messages %}
	        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-8 mb-4">
        <!--Card-->
        <div class="card">
          <!--Card content-->
          <form method="POST" class="card-body">
            {% csrf_token %}
            <!--Grid row-->
            <!--address-->
            <div class="md-form mb-5">
              {% comment%}<input type="text" id="address" class="form-control"/>{% endcomment %} 
              {{form.street_address}}
              <label for="address" class="">Address</label>
            </div>

            <!--address-2-->
            <div class="md-form mb-5">
              {% comment %}<input type="text" id="address-2" class="form-control" />{% endcomment %}
              {{form.appartmentent_address}}
              <label for="address-2" class="">Address 2 (optional)</label>
            </div>

            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-lg-4 col-md-12 mb-4">
                <label for="country">Country</label>
                {% comment %} <select class="custom-select d-block w-100" id="country" required>
                  <option value="">Choose...</option>
                  <option>South Africa</option>
                </select>{% endcomment %}
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
                {{form.country }}
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4">
                <label for="state">Province</label>
                <select class="custom-select d-block w-100" id="state" required>
                  <option value="">Choose...</option>
                  <option>Eastern Cape</option>
                  <option>Free State</option>
                  <option>Gauteng</option>
                  <option>KwaZulu-Natal</option>
                  <option>Limpopo</option>
                  <option>Mpumalanga</option>
                  <option>Northern Cape</option>
                  <option>North West</option>
                  <option>Western Cape</option>
                </select>
                <div class="invalid-feedback">
                  Please provide a valid Province.
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4">
                <label for="zip">Zip</label>
                {% comment %}<input
                  type="text"
                  class="form-control"
                  id="zip"
                  placeholder=""
                  required
                />{% endcomment %}
                {{form.zip }}
                <div class="invalid-feedback">Zip code required.</div>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->

            <hr />

            <div class="custom-control custom-checkbox">
              <input {% if form.same_billing_address.value %} checked {% endif %} type="checkbox" class="custom-control-input" id="same-address" name ="same_billing_address"/>
              <label class="custom-control-label" for="same-address"
                >Shipping address is the same as my billing address</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input {% if form.save_info.value %} checked {% endif %} type="checkbox" class="custom-control-input" id="save-info" name="save_info"/>
              <label class="custom-control-label" for="save-info">Save this information for next time</label>
            </div>

            <hr />

            <div class="d-block my-3">
              {% for value, name in form.fields.payment_option.choices %}
              <div class="custom-control custom-radio">
                {{forms.payment_option }}
                <input id="{{ name }}" name="payment_option" value ="{{ value }}" type="radio" class="custom-control-input" checked required />
                <label class="custom-control-label" for="{{ name }}">{{ value }}</label>
              </div>
              {% endfor %}
              {% comment %}<div class="custom-control custom-radio">
                <input
                  id="paypal"
                  name="paymentMethod"
                  type="radio"
                  class="custom-control-input"
                  required
                />
                <label class="custom-control-label" for="paypal">Paypal</label>
              </div>{% endcomment %}
            </div>
            <hr class="mb-4" />
            <button class="btn btn-primary btn-lg btn-block" type="submit">
              Continue to checkout
            </button>
          </form>
        </div>
        <!--/.Card-->
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">
        {% include 'order_snippet.html' %}
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
</main>
<!--Main layout-->
{% endblock content %}
